GogasheBot/bin/Debug/Docs/ImageChatId.txt
GogasheBot/bin/Debug/Docs/StickerChatId.txt
GogasheBot/bin/Debug/Docs/Token.txt
GogasheBot/bin/Debug/Hardbass/Alan Aztec feat Frequ _ Ninka - Polska.mp3
GogasheBot/bin/Debug/Hardbass/Alan Aztec feat. Karate - This Is Russia.mp3
GogasheBot/bin/Debug/Hardbass/Alan Aztec feat. R5on11c - Disco Panzer.mp3
GogasheBot/bin/Debug/Hardbass/Apartje - Чики Брики Хардбасс.mp3
GogasheBot/bin/Debug/Hardbass/DJ Blyatman - Cyka Blyat.mp3
GogasheBot/bin/Debug/Hardbass/DJ Blyatman - Gopnik.mp3
GogasheBot/bin/Debug/Hardbass/DJ Blyatman & DJ Pelix ft. xeK - Slavic Names.mp3
GogasheBot/bin/Debug/Hardbass/DJ Blyatman ft. Hard Bass School - Blast.mp3
GogasheBot/bin/Debug/Hardbass/DJ Blyatman ft. Life of Boris - Slav King.mp3
GogasheBot/bin/Debug/Hardbass/Hard Bass School - Slav.mp3
GogasheBot/bin/Debug/Hardbass/Hardbass - Три полоски.mp3
GogasheBot/bin/Debug/Hardbass/Hardbass - Чудо порошочек.mp3
GogasheBot/bin/Debug/Hardbass/XS Project - В кашу.mp3
GogasheBot/bin/Debug/Hardbass/XS Project - Водоворот.mp3
GogasheBot/bin/Debug/Hardbass/XS Project - Наркотик - кал.mp3
GogasheBot/bin/Debug/Pastes/1.txt
GogasheBot/bin/Debug/Pastes/10.txt
GogasheBot/bin/Debug/Pastes/11.txt
GogasheBot/bin/Debug/Pastes/12.txt
GogasheBot/bin/Debug/Pastes/13.txt
GogasheBot/bin/Debug/Pastes/14.txt
GogasheBot/bin/Debug/Pastes/15.txt
GogasheBot/bin/Debug/Pastes/16.txt
GogasheBot/bin/Debug/Pastes/17.txt
GogasheBot/bin/Debug/Pastes/18.txt
GogasheBot/bin/Debug/Pastes/19.txt
GogasheBot/bin/Debug/Pastes/2.txt
GogasheBot/bin/Debug/Pastes/20.txt
GogasheBot/bin/Debug/Pastes/21.txt
GogasheBot/bin/Debug/Pastes/22.txt
GogasheBot/bin/Debug/Pastes/23.txt
GogasheBot/bin/Debug/Pastes/24.txt
GogasheBot/bin/Debug/Pastes/25.txt
GogasheBot/bin/Debug/Pastes/26.txt
GogasheBot/bin/Debug/Pastes/27.txt
GogasheBot/bin/Debug/Pastes/28.txt
GogasheBot/bin/Debug/Pastes/29.txt
GogasheBot/bin/Debug/Pastes/3.txt
GogasheBot/bin/Debug/Pastes/30.txt
GogasheBot/bin/Debug/Pastes/31.txt
GogasheBot/bin/Debug/Pastes/4.txt
GogasheBot/bin/Debug/Pastes/5.txt
GogasheBot/bin/Debug/Pastes/6.txt
GogasheBot/bin/Debug/Pastes/7.txt
GogasheBot/bin/Debug/Pastes/8.txt
GogasheBot/bin/Debug/Pastes/9.txt
GogasheBot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GogasheBot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GogasheBot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GogasheBot/bin/Debug/recievedlogs.txt
GogasheBot/bin/Debug/sendlogs.txt
.vs/GogasheBot/v16/.suo
